# Salin file ini menjadi .env dan isi dengan nilai dari Supabase project Anda
# Pengaturan > API > Project URL & Project API Keys (anon/public)

VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGci...xxxxxxxx
