@import '@/assets/pages/penjualan/penjualan-buat-page.css';

.pembelian-order-page {
  padding: 2rem;
  outline: none;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .pembelian-order-page {
    padding: 1rem;
  }
}
